.wrapper{
    height: 50vh;
    grid-template-rows: 20% 70%;
}
.wrapper>.nav-bar{
    margin-bottom: 10px;
}
.content-main{
    margin: auto;
    width: 60%;
    background-color: coral;
}
.content-main>img{
    width: 100%;
}